@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
    font-family: "Ubuntu", sans-serif;

    /* LIGHT THEME */
    --bg-primary-color: #f1f2f6;
    --bg-secondary-color: #ced6e0;
    --bg-card-color: #f8fafc;
    --bg-hover-color: #e5e7eb;
    --bg-wb-color: #ffffff;
    --bg-sidebar-color: #434b5c;
    --border-color: #d1d5db;

    --text-hover-color: #113563;
    --text-primary-color: #000000;
    --text-secondary-color: #6b7280;

    --text-muted-color: #9ca3af;

    --icon-color: #374151;
    --shadow-color: 0 4px 10px rgba(0, 0, 0, 0.08);
}

.dark {
    /* DARK THEME */
    --bg-primary-color: #000000;
    --bg-secondary-color: #1e272e;
    --bg-card-color: #1e293b;
    --bg-hover-color: #334155;
    --bg-wb-color: #000000;
    --bg-sidebar-color: #111827;
    --border-color: #374151;

    --text-hover-color: #111722;
    --text-primary-color: #ffffff;
    --text-secondary-color: #cbd5e1;
    --text-muted-color: #94a3b8;

    --icon-color: #e5e7eb;
    --shadow-color: 0 4px 10px rgba(0, 0, 0, 0.35);
}

body {
    background-color: var(--bg-primary-color);
    color: var(--text-primary-color);
}

.bg-cl-primary{
    background-color: var(--bg-secondary-color);
}

.bg-sidebar-cl{
    background-color: var(--bg-sidebar-color);
}

.text-cl-primary{
    color: var(--text-primary-color);
}

.text-cl-hover{
    color: var(--text-hover-color);
}

.border-cl{
    border-color: var(--border-color);
}

.hover-cl{
    background-color: var(--bg-hover-color);
}
.action{
    background-color: var(--bg-wb-color)
}